@font-face {
	font-family: Kollektif;
	src: url('Kollektif.ttf') format('truetype'),
		 url('Kollektif.woff') format('woff'),
		 url('Kollektif.woff2') format('woff2'),
		 url('Kollektif.eot') format('embedded-opentype'),
		 url('Kollektif.svg#Kollektif') format('svg');
}

html {
	background-color: #f5fdff;
	scroll-behavior: smooth;
	height: 100%;
}

body {
	margin: 0;
	height: 100%;
	font-family: Kollektif;
}

#logo {
	width: 22vw;
	max-width: 159px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}

h1 {
	margin-top: 10%;
	font-size: 40px;
	font-weight: normal;
	color: #3a3a3a;
	padding-top: 5px;
}

p {
	font-size: 30px;
	color: #3a3a3a;
	line-height: 1.8;
}


@media screen and (max-width: 600px) {
	h1 {
		font-size: 38px;
	}
	p {
		font-size: 28px;
	}
}

.highlight {
  background:
     linear-gradient(
       to bottom, #97d7ff 0%,
       #97d7ff 100%
     );
	background-position: 0 100%;
	background-repeat: repeat-x;
	background-size: 4px 4px;
	border-radius: 3px;
	padding: 2px;
  color: #3a3a3a;
  text-decoration: none;
  transition: background-size 0.5s;
}

li{
  margin: 10px 0;
}

.highlight:hover {
  background-size: 4px 50px;
}

#scroll {
	margin-bottom: 80px;
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

#scroll img {
	width: 5%;
	max-width: 32px;
	margin: auto;
}

#scroll a {
	text-decoration: none;
	color: #3a3a3a;
	text-align: center;
	font-size: 80%;
}

.center {
	margin: auto;
	width: 70%;
}

#resume {
	margin-top: 85px;
}

hr {
	border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}


h2 {
	color: #3c94bf;
	font-size: 32px;
}

h3 {
	color: #3a3a3a;
	font-size: 23px;
	margin: 10px 0;
}

h4 {
	color: #494848;
	font-weight: normal;
	margin-top: 10px;
	line-height: 1.8;
}

#education {
	margin-bottom: 50px;
}

#intro {
	margin-bottom: 80px;
}

#experience {
	margin-bottom: 35px;
}

i {
	font-size: 35px;
	margin-right: 20px;
	color: #3a3a3a;
}

#handles {
	margin-bottom: 50px;
}
